
<style>
  body {
    background-color: initial !important;
  }
</style>

<h1><%= @meal.date %></h1>
<table class="table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>User</th>
      <th>Action</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
  <% (@meal.associated_audits + @meal.audits).sort { |a,b| b.created_at <=> a.created_at }.each do |audit| %>
    <tr>
      <td><%= audit.id %></td>

      <% if audit.user&.name.present? && audit.user&.name == "Dave Riddle" %>
        <td>Common House</td>
      <% elsif audit.user&.name.present? && audit.user&.name != "Dave Riddle" %>
        <td><%= resident_name_helper(audit.user&.name) %></td>
      <% else %>
        <td>Admin</td>
      <% end %>
      <td><%= parse_audit(audit) %></td>
      <td><%= (ActiveSupport::TimeZone.find_tzinfo('Pacific Time (US & Canada)').utc_to_local(audit.created_at)).strftime("%B %d, %Y at %I:%M %p") %></td>
    </tr>
  <% end %>
  </tbody>
</table>
