<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Comeals</title>
    <%= stylesheet_pack_tag 'app' %>
  </head>
  <body>
    <div id="site">
      <div id="main">
        <%= yield %>
      </div>
      <div id="calendar"></div>
    </div>
    <%= stylesheet_link_tag 'application' %>
    <%= render 'partials/data' %>
    <%= render 'partials/footer' %>
    <% if @community&.id.present? && @resident_id.present? %>
      <div class="flex space-between w-30">
        <%= link_to 'Subscribe to All Meals', api_v1_community_ical_url(protocol: :webcal, format: :ics, id: @community&.id) %>
        <br />
        <%= link_to 'Subscribe to My Meals', api_v1_resident_ical_url(protocol: :webcal, format: :ics, id: @resident_id) %>
      </div>
    <% end %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/solid.css" integrity="sha384-HTDlLIcgXajNzMJv5hiW5s2fwegQng6Hi+fN6t5VAcwO/9qbg2YEANIyKBlqLsiT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/fontawesome.css" integrity="sha384-8WwquHbb2jqa7gKWSoAwbJBV2Q+/rQRss9UXL5wlvXOZfSodONmVnifo/+5xJIWX" crossorigin="anonymous">
    <% if Rails.env.production? %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-105981750-1', 'auto');
        ga('send', 'pageview');

      </script>
    <% end %>
    <%= javascript_pack_tag 'app'%>
  </body>
</html>
